<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Results</title>
</head>
<body>
    <h1>Student Results</h1>
    <p>Name: {{ student_data.name }}</p>
    <p>Registration Number: {{ student_data.reg_no }}</p>
    <p>Mathematics Marks: {{ student_data.math_marks }}</p>
    <p>Statistics Marks: {{ student_data.stats_marks }}</p>
    <p>Computer Science Marks: {{ student_data.compsci_marks }}</p>
    <p>English Marks: {{ student_data.english_marks }}</p>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Details</title>
</head>
<body>
    <h1>Video Game Details</h1>
    <p>Title: {{ videogame_data.title }}</p>
    <p>Platform: {{ videogame_data.platform }}</p>
    <p>Genre: {{ videogame_data.genre }}</p>
    <p>Release Date: {{ videogame_data.release_date }}</p>
    <p>Price: {{ videogame_data.price }}</p>
</body>
</html>
